{% extends 'main_layout.html' %}
{% load static %}

{% block header %}

    <header id="areyousure">
        <div class="login-reg">

            <h1 class="mb-5 text" style="color:#66B1CC">Resetting your password</h1>
            <p>We've emailed you a detailed instructions for setting your password.</p>
            <p class="mb-5">If you don't receive an email, please make sure you've entered the correct email
                address you registered with.</p>
            <h4 class="text-center mb-5 text" style="color:#66B1CC">Ghuma Security</h4>
            <a href="https://www.gmail.com/"><button class="btn w-100" style="background-color:#66B1CC">Go to Gmail</button></a>

        </div>
    </header>

{% endblock %}