{% extends 'main_layout.html' %}
{% load bootstrap %}
{% load static %}

{% block header %}

    <header id="areyousure">
        <div class="login-reg">
            {% for message in messages %}
                <div class="alert alert-danger mt-3" role="alert">
                    <p id="messages">{{ message }} <i class="fa fa-check-times" aria-hidden="true"></i></p>
                </div>
            {% endfor %}

            <div class="title-text mb-4">
                <div class="title signup text" style="color:#66B1CC">Forgotten Your password?</div>
            </div>

            <form action="." method="post">
                {{ form | bootstrap }}
                {% csrf_token %}
                <button class="btn text-light btn-sm" style="margin-top: 10px background-color:#66B1CC">Send Reset Link</button>
            </form>

        </div>
    </header>


{% endblock %}